<?xml version="1.0" encoding="utf-8"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:newtelligence-com:dasblog:config">
  <NotifyWebLogsDotCom>false</NotifyWebLogsDotCom>
  <NotifyBloGs>false</NotifyBloGs>
  <EnableFtb>true</EnableFtb>
  <DefaultBloggingAPI>Moveable Type</DefaultBloggingAPI>
  <Title>My DasBlog!</Title>
  <Subtitle>newtelligence powered</Subtitle>
  <Theme>dasBlog</Theme>
  <Description />
  <Contact>dasblog@example.com</Contact>
  <Root>http://localhost:3208/</Root>
  <Copyright>Your Name Here</Copyright>
  <RssDayCount>10</RssDayCount>
  <RssMainEntryCount>50</RssMainEntryCount>
  <RssEntryCount>50</RssEntryCount>
  <EnableRssItemFooters>false</EnableRssItemFooters>
  <RssItemFooter>This weblog is sponsored by &lt;a href="http://www.newtelligence.com"&gt;newtelligence AG&lt;/a&gt;. </RssItemFooter>
  <FrontPageDayCount>8</FrontPageDayCount>
  <FrontPageEntryCount>50</FrontPageEntryCount>
  <CategoryAllEntries>true</CategoryAllEntries>
  <FrontPageCategory />
  <AlwaysIncludeContentInRSS>true</AlwaysIncludeContentInRSS>
  <EntryTitleAsLink>true</EntryTitleAsLink>
  <ObfuscateEmail>true</ObfuscateEmail>
  <NotificationEMailAddress>andrewarnott@gmail.com</NotificationEMailAddress>
  <SendCommentsByEmail>true</SendCommentsByEmail>
  <SendReferralsByEmail>true</SendReferralsByEmail>
  <SendTrackbacksByEmail>true</SendTrackbacksByEmail>
  <SendPingbacksByEmail>true</SendPingbacksByEmail>
  <SendPostsByEmail>false</SendPostsByEmail>
  <EnableBloggerApi>true</EnableBloggerApi>
  <EnableComments>true</EnableComments>
  <EnableCommentApi>false</EnableCommentApi>
  <EnableConfigEditService>false</EnableConfigEditService>
  <EnableEditService>false</EnableEditService>
  <EnableAutoPingback>false</EnableAutoPingback>
  <ShowCommentCount>true</ShowCommentCount>
  <EnableTrackbackService>false</EnableTrackbackService>
  <EnablePingbackService>false</EnablePingbackService>
  <EnableStartPageCaching>false</EnableStartPageCaching>
  <EnableBlogrollDescription>false</EnableBlogrollDescription>
  <EnableUrlRewriting>true</EnableUrlRewriting>
  <EnableCrossposts>false</EnableCrossposts>
  <UseUserCulture>true</UseUserCulture>
  <ShowItemDescriptionInAggregatedViews>true</ShowItemDescriptionInAggregatedViews>
  <EnableClickThrough>true</EnableClickThrough>
  <EnableAggregatorBugging>true</EnableAggregatorBugging>
  <DisplayTimeZoneIndex>85</DisplayTimeZoneIndex>
  <AdjustDisplayTimeZone>true</AdjustDisplayTimeZone>
  <ContentDir>~/content/</ContentDir>
  <LogDir>~/logs/</LogDir>
  <BinariesDir>~/content/binary/</BinariesDir>
  <ProfilesDir>~/content/profiles/</ProfilesDir>
  <SmtpServer />
  <EnablePop3>false</EnablePop3>
  <Pop3Server />
  <Pop3Username />
  <Pop3Password />
  <Pop3SubjectPrefix />
  <Pop3Interval>30</Pop3Interval>
  <Pop3InlineAttachedPictures>true</Pop3InlineAttachedPictures>
  <Pop3InlinedAttachedPicturesThumbHeight>100</Pop3InlinedAttachedPicturesThumbHeight>
  <ApplyContentFiltersToWeb>true</ApplyContentFiltersToWeb>
  <ApplyContentFiltersToRSS>false</ApplyContentFiltersToRSS>
  <EnableXSSUpstream>false</EnableXSSUpstream>
  <XSSUpstreamEndpoint>http://radio.xmlstoragesystem.com/RPC2</XSSUpstreamEndpoint>
  <XSSUpstreamUsername />
  <XSSUpstreamPassword />
  <XSSRSSFilename>rss-dasblog.xml</XSSRSSFilename>
  <XSSUpstreamInterval>3600</XSSUpstreamInterval>
  <ContentFilters>
    <ContentFilter find="\$g\((?&lt;expr&gt;[\w\s\d]+)\)" replace="&lt;a href=&quot;http://www.google.com/search?q=$url(${expr})&quot;&gt;${expr}&lt;/a&gt;" isregex="true" />
    <ContentFilter find="\$d\((?&lt;expr&gt;[\w\s\d]+)\)" replace="&lt;a href=&quot;http://dictionary.reference.com/search?q=$url(${expr})&quot;&gt;${expr}&lt;/a&gt;" isregex="true" />
    <ContentFilter find="dasBlog" replace="&lt;a href=&quot;http://dasblog.info&quot;&gt;dasBlog&lt;/a&gt;" isregex="false" />
    <ContentFilter find=":-o" replace="&lt;img alt=&quot;:-o&quot; src=&quot;~/smilies/openmouth.gif&quot;&gt;" isregex="false" />
    <ContentFilter find=":-S" replace="&lt;img alt=&quot;:-S&quot; src=&quot;~/smilies/frown.gif&quot;&gt;" isregex="false" />
    <ContentFilter find=":-D" replace="&lt;img alt=&quot;:-D&quot; src=&quot;~/smilies/veryhappy.gif&quot;&gt;" isregex="false" />
    <ContentFilter find=":'(" replace="&lt;img alt=&quot;:'(&quot; src=&quot;~/smilies/unhappy.gif&quot;&gt;" isregex="false" />
    <ContentFilter find=";-)" replace="&lt;img alt=&quot;;-)&quot; src=&quot;~/smilies/wink.gif&quot;&gt;" isregex="false" />
    <ContentFilter find=":-)" replace="&lt;img alt=&quot;:-)&quot; src=&quot;~/smilies/happy.gif&quot;&gt;" isregex="false" />
  </ContentFilters>
  <CrosspostSites />
  <Pop3DeleteAllMessages>false</Pop3DeleteAllMessages>
  <Pop3LogIgnoredEmails>true</Pop3LogIgnoredEmails>
  <EnableReferralUrlBlackList>false</EnableReferralUrlBlackList>
  <ReferralUrlBlackList />
  <EnableCaptcha>true</EnableCaptcha>
  <EnableReferralUrlBlackList404s>false</EnableReferralUrlBlackList404s>
  <EnableMovableTypeBlackList>false</EnableMovableTypeBlackList>
  <ChannelImageUrl />
  <EnableCrossPostFooter>false</EnableCrossPostFooter>
  <EnableTitlePermaLink>true</EnableTitlePermaLink>
  <EnableTitlePermaLinkUnique>true</EnableTitlePermaLinkUnique>
  <EnableTitlePermaLinkSpaces>false</EnableTitlePermaLinkSpaces>
  <EncryptLoginPassword>true</EncryptLoginPassword>
  <EnableSmtpAuthentication>true</EnableSmtpAuthentication>
  <SmtpUserName />
  <SmtpPassword />
  <RssLanguage>en-us</RssLanguage>
  <EnableSearchHighlight>true</EnableSearchHighlight>
  <EnableEntryReferrals>false</EnableEntryReferrals>
  <PingServices />
  <FeedBurnerName />
  <DaysCommentsAllowed>60</DaysCommentsAllowed>
  <EnableCommentDays>true</EnableCommentDays>
  <SupressEmailAddressDisplay>true</SupressEmailAddressDisplay>
  <EntryEditControl>newtelligence.DasBlog.Web.FreeTextBoxAdapter, newtelligence.DasBlog.Web, Version=2.1.8139.823, Culture=neutral, PublicKeyToken=null</EntryEditControl>
  <LogBlockedReferrals>false</LogBlockedReferrals>
  <ShowCommentsWhenViewingEntry>false</ShowCommentsWhenViewingEntry>
  <UseFeedSchemeForSyndication>false</UseFeedSchemeForSyndication>
  <ContentLookaheadDays>0</ContentLookaheadDays>
  <EnableAutoSave>false</EnableAutoSave>
  <SmtpPort>25</SmtpPort>
  <CommentsAllowGravatar>false</CommentsAllowGravatar>
  <CommentsGravatarNoImgPath />
  <CommentsGravatarSize />
  <CommentsGravatarBorder />
  <CommentsGravatarRating>R</CommentsGravatarRating>
  <CommentsRequireApproval>false</CommentsRequireApproval>
  <CommentsAllowHtml>true</CommentsAllowHtml>
  <validCommentTags>
    <tag name="a" attributes="href,title" allowed="true" />
    <tag name="b" attributes="" allowed="false" />
    <tag name="blockquote" attributes="cite" allowed="false" />
    <tag name="em" attributes="" allowed="false" />
    <tag name="i" attributes="" allowed="false" />
    <tag name="strike" attributes="" allowed="true" />
    <tag name="strong" attributes="" allowed="false" />
    <tag name="sub" attributes="" allowed="false" />
    <tag name="sup" attributes="" allowed="false" />
    <tag name="u" attributes="" allowed="false" />
  </validCommentTags>
  <EnableCoComment>true</EnableCoComment>
  <EnableSpamBlockingService>false</EnableSpamBlockingService>
  <SpamBlockingServiceApiKey />
  <EnableSpamModeration>true</EnableSpamModeration>
  <EntriesPerPage>5</EntriesPerPage>
  <EnableDailyReportEmail>false</EnableDailyReportEmail>
  <UseSSLForSMTP>false</UseSSLForSMTP>
  <PreferredBloggingAPI>Moveable Type</PreferredBloggingAPI>
  <EnableGoogleMaps>false</EnableGoogleMaps>
  <GoogleMapsApiKey />
  <EnableGeoRss>false</EnableGeoRss>
  <DefaultLatitude>0</DefaultLatitude>
  <DefaultLongitude>0</DefaultLongitude>
  <EnableDefaultLatLongForNonGeoCodedPosts>false</EnableDefaultLatLongForNonGeoCodedPosts>
  <HtmlTidyContent>true</HtmlTidyContent>
  <ResolveCommenterIP>true</ResolveCommenterIP>
  <AllowOpenIdComments>true</AllowOpenIdComments>
  <AllowOpenIdAdmin>true</AllowOpenIdAdmin>
  <BypassSpamOpenIdComment>false</BypassSpamOpenIdComment>
</SiteConfig>